@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pulse-accent: #13ecda;
  --pulse-accent-light: #7ff4e8;
  --pulse-accent-dark: #0dbfad;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}